.sidebar-item {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  transition: all 0.5s;

  &:hover {
    padding: 1em 3em;
  }

  &--rolled {
    padding: 0.7em;
    &:hover {
      padding: 0.7em;
      transform: scale(0.7);
    }
  }
}

.router-link-active {
  background: #2D7DD2;;
}
