.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: #011627;

  transition: all 0.5s;

  &--active {
    width: 200px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-top: 1.5em;
    color: white;
    font-size: 12px;

    position: relative;
  }

  &__header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    content: '';
  }

  &__arrow {
    display: flex;
    align-items: center;
    transition: all 0.7s;
    transform: rotate(180deg);
    &--active {
      transform: rotate(0);
    }
  }

  &__content {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100vh - 58px);
  }

  &__item {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    transition: all 0.5s;

    &:hover {
      padding: 1em 3em;
    }

    &--rolled {
      padding: 0.7em;
      &:hover {
        padding: 0.7em;
        transform: scale(0.7);
      }
    }
  }
}

/* Sidebar title Transition */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
