.auth {
  height: 100vh;
  display: flex;
  
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: relative;
    padding: 2em;
    width: 100%;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
  }

  &__card {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    background: #2D7DD2;
    transition: all 0.5s;

    &--right
    {
      left: 50%;
    }
  }
}