.cards-view {
  padding: 2em;

  &__query {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    max-width: 45%;
    width: 100%;
    margin-right: 10px;
  }

  &__icon {
    margin: 0 7px;
  }
}
