.cards-view {
  padding: 2em;

  &__query {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    max-width: 45%;
    width: 100%;
    margin-right: 10px;
  }

  &__icon {
    margin: 0 7px;
  }

  &__cards {
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    margin: 1em;
  }

  &__add {
    margin: 1em;
    width: 265px;
    height: 370px;
    background: yellow;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.1s;
    filter: none;
    &:hover {
      transform: scale(1.01);
      filter: drop-shadow(0 0 0.75rem lightgray);
    }
  }
}
